extends layout

block content
    div(id="about_logo" style="background-image: url(/images/logo.png);")
    p(class="py1")
        | We are the Xmatic team. We develop many different things, sometimes weird things :)
        | Every day we just spend time together to solve a new task or ideas.
        | Team Xmatic is pleased to see new members of the team. Our main goal is to be an independent team around the world.