extends layout

block content
    section(id="about")
        p
            | Welcome to Xmatic team.
            | Hi, my name is Artem. I'm a web developer and Xmatic team co-founder.
            | Although out team is still small, we find new ideas, challenges, customers and solve all that together to make our world easer.
        p You can find us on:
        ul
            li
                | Artem
                |
                a(class="icon" target="_blank" href="https://github.com/Earthmor" rel="external nofollow noopener noreferrer")
                    i(class="fab fa-github")
                | ,
                |
                a(class="icon" target="_blank" href="https://www.facebook.com/artem.budnikov.5")
                    i(class="fab fa-facebook")
                | ,
                |
                a(class="icon" target="_blank" href="https://linkedin.com/in/artem-budnikov-ff431565")
                    i(class="fab fa-linkedin")
                |
                | and
                |
                a(class="icon" target="_blank" href="mailto:artiom.budnikoff@yandex.ru" rel="external nofollow noopener noreferrer")
                    i(class="fas fa-envelope")
                | .
            li
                | Yury
                |
                a(class="icon" target="_blank" href="https://github.com/halofourteen" rel="external nofollow noopener noreferrer")
                    i(class="fab fa-github")
                | ,
                |
                a(class="icon" target="_blank" href="https://www.facebook.com/yuriy.mayatnikov")
                    i(class="fab fa-facebook")
                | .
    section(id="projects")
        span(class="h1")
            a(href="http://github.com/Earthmor" rel="external nofollow noopener noreferrer" target="_blank") Projects
        ul(class="project-list")
            li(class="project-item")
                a(href="https://github.com/Earthmor/artificial_life" rel="external nofollow noopener noreferrer" target="_blank") Artificial Life
                | : Emulator of simple world
            li(class="project-item")
                a(href="https://github.com/Earthmor/stupid_bob" rel="external nofollow noopener noreferrer" target="_blank") Stupid Bob
                | : Our try to understand how write simple program language
            li(class="project-item")
                a(href="https://github.com/Earthmor/route_calculator" rel="external nofollow noopener noreferrer" target="_blank") Route Calculator
                | : Calculator of route between two point on map
            li(class="project-item")
                a(href="https://github.com/Earthmor/luxcar" rel="external nofollow noopener noreferrer" target="_blank") Luxcar
                | : Services to assist in the evacuation of cars
            li(class="project-item")
                a(href="https://github.com/Earthmor/petspedia" rel="external nofollow noopener noreferrer" target="_blank") Petspedia
                | : Database of all medicines for pets
            li(class="project-item")
                a(href="https://github.com/Earthmor/flie" rel="external nofollow noopener noreferrer" target="_blank") Flia
                | : File server