.stupid_bob__title {
  padding: 5px;
}

.stupid_bob__content {
  padding: 5px;
  display: flex;
  flex-flow: column;
}

.stupid_bob__demo {
  text-align: center;
}

.stupid_bob_receiver {
  width: 50%;
  height: 150px;
  position: relative;
}

.stupid_bob__button {
  margin-top: 5px;
  color: white;
  background: #2f79e9;
  cursor: pointer;
  border-radius: 18px;
  font-size: 100%;
  width: 10.5em;
  display: inline-block;
}