#header {
  margin: 0 auto 3rem;
  width: 100%;
}
#header h1,
#header .h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #c9cacc;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header a {
  background: none;
  color: inherit;
  text-decoration: none;
}
#header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  filter: grayscale(100%);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
}
#header #nav {
  color: #2bbc8a;
  letter-spacing: 0.01em;
  font-weight: 200;
  font-style: normal;
  font-size: 0.8rem;
}
#header #nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 15px;
}
#header #nav ul a {
  margin-right: 15px;
  color: color-accent-1;
}
#header #nav ul a:hover {
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}
#header #nav ul li {
  display: inline-block;
  margin-right: 15px;
  border-right: 1px dotted #2bbc8a;
  vertical-align: middle;
}
#header #nav ul .icon {
  display: none;
}
#header #nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
#header #nav ul li:last-child a {
  margin-right: 0;
}
#header:hover #logo {
  filter: none;
  -webkit-filter: none;
}
@media screen and (max-width: 480px) {
  #header #title {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  #header #nav ul a:hover {
    background: none;
  }
  #header #nav ul li {
    display: none;
    border-right: 0;
  }
  #header #nav ul li.icon {
    position: absolute;
    top: 55px;
    right: 1rem;
    display: inline-block;
  }
  #header #nav ul.responsive li {
    display: block;
  }
  #header #nav li:not(:first-child) {
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
  }
}